### <span style="font-size: 16.38px;"><b>Challenge 3 - Customer Insights</b></span>

<span style="color: #608b4e;">1. What are the names of all the countries in the country table?</span>

In [12]:
SELECT DISTINCT country_name AS Countires
FROM country;

Countires
UK
USA
China

<span style="color: #608b4e;">2. What is the total number of customers in the customers table?</span>

In [13]:
SELECT COUNT(DISTINCT customer_id) AS 'Total Customers'
FROM customers;

Total Customers
8

<span style="color: #608b4e;">3. What is the average age of customers who can receive marketing emails (can_email is set to 'yes')?</span>

In [14]:
SELECT AVG(age) AS 'Average Age'
FROM customers 
WHERE can_email = 'yes';

Average Age
37.0000

<span style="color: #608b4e;">4. How many orders were made by customers aged 30 or older?</span>

In [5]:
-- Using JOIN

SELECT COUNT(order_id) AS 'Orders by Customers Aged 30+'
FROM customers c 
JOIN orders o ON c.customer_id = o.customer_id
WHERE age >=30;

Orders by Customers Aged 30+
3

In [4]:
-- Using SUBQUERY

SELECT COUNT(*) AS 'Orders by Customers Aged 30+'
FROM orders 
WHERE customer_id IN (SELECT customer_id FROM customers WHERE age >= 30);

Orders by Customers Aged 30+
3

<span style="color: #608b4e;">5. What is the total revenue generated by each product category?</span>

In [16]:
SELECT p.category AS 'Product Category', SUM(p.price) AS 'Total Revenue'
FROM products p
JOIN baskets b ON p.product_id = b.product_id
GROUP BY p.category;

Product Category,Total Revenue
food,25.74
sports,37.47
vitamins,66.93

<span style="color: #608b4e;">6. What is the average price of products in the 'food' category?</span>

In [17]:
SELECT AVG(price) AS 'Average Price'
FROM products
WHERE Category = 'food';

Average Price
3.440000

<span style="color: #608b4e;">7. How many orders were made in each sales channel (sales_channel column) in the orders table?</span>

In [8]:
SELECT sales_channel AS 'Sales Channel', COUNT(order_id) AS 'Number of Orders'
FROM orders
GROUP BY sales_channel
ORDER BY COUNT(order_id);

Sales Channel,Number of Orders
online,3
retail,5

In [7]:
SELECT sales_channel, COUNT(*) AS 'Number of Orders' 
FROM orders 
GROUP BY sales_channel;

sales_channel,Number of Orders
retail,5
online,3

<span style="color: #608b4e;">8.What is the date of the latest order made by a customer who can receive marketing emails?</span>

In [19]:
-- Using JOIN

SELECT MAX(o.date_shop) AS 'Latest Order Date'
FROM orders o
JOIN customers c ON c.customer_id = o.customer_id
WHERE c.can_email = 'yes';

Latest Order Date
2023-02-02

In [9]:
-- Using SUBQUERY

SELECT MAX(date_shop) AS 'Latest Order Date'
FROM orders 
WHERE customer_id IN (SELECT customer_id FROM customers WHERE can_email = 'yes');

Latest Order Date
2023-02-02

<span style="color: #608b4e;">9. What is the name of the country with the highest number of orders?</span>

In [20]:
SELECT c.country_name AS 'Country', COUNT(order_id)
FROM country c
JOIN orders o ON c.country_id = o.country_id
GROUP BY c.country_name
ORDER BY COUNT(order_id) DESC
LIMIT 1;

Country,COUNT(order_id)
UK,5

<span style="color: #608b4e;">10. What is the average age of customers who made orders in the 'vitamins' product category?</span>

In [21]:
SELECT ROUND(AVG(c.age), 0) AS 'Average Age'
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN baskets b ON b.order_id = o.order_id
JOIN products p ON p.product_id = b.product_id
WHERE p.category = 'vitamins';

Average Age
30